* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloader {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: rgb(25, 207, 147);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: calc(100% - 100px);
  height: 43em;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
  overflow: hidden;
  overflow-y: visible;
  &::-webkit-scrollbar {
    width: 0;
  }

  div {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    background: rgb(224, 217, 217);
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    strong {
      position: absolute;
      bottom: -50px;
      color: white;
      text-shadow: 0 0 20px #000, 0 0 50px #000;
      width: 100%;
      text-align: center;
      background: rgba(#000, 0.1);
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s all linear;
      pointer-events: none;
      user-select: none;
    }
    &:hover {
      strong {
        bottom: 0;
      }
      button {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
    input {
      position: absolute;
      left: 20px;
      top: 20px;
    }
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border: none;
      outline: none;
      background: rgba(#000, 0.1);
      color: white;
      padding: 10px;
      cursor: pointer;
      opacity: 0;
      transition: 0.3s all linear;
      transform-origin: center;
      &:active {
        opacity: 0;
      }
    }
  }
}

input {
  width: 30px;
  height: 30px;
  display: block;
  background: rgb(221, 220, 220);
  appearance: none;
  border-radius: 50%;
  transition: 0.3s all linear;
  box-shadow: 0 0 30px #000;
  overflow: hidden;

  &:checked::before {
    transition: 0.3s all linear;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(7, 230, 163);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    animation: rotate 0.2s linear;
  }
}

.boxes {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 500px;
  width: fit-content;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  img {
    height: 100%;
    pointer-events: none;
    user-select: none;
  }
  transition: 0.3s all linear;
  transform-origin: center;
  &.showing {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes rotate {
  50% {
    transform: rotate(50deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*
Loading Bar
*/
.progress{
    // transform: scale(0);
    transform-origin: center;
    transition: 0.3s all linear;
    user-select: none;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(#000, 0.2);
    &.active{
        transform: translate(-50%, -50%) scale(1);
    }
    .percentage{
        position: relative;
        height: 150px;
        width: 150px;
        pointer-events: none;
        svg{
            all: inherit;
            circle{
                width: inherit;
                height: inherit;
                fill: none;
                stroke-width: 10;
                stroke: #000;
                stroke-dasharray: 440;
                stroke-dashoffset: 440;
                stroke-linecap: round;
                &:nth-child(1){
                    stroke-dashoffset: 0;
                    stroke: #f3f3f3;
                }
                &:nth-child(2){
                    stroke-dashoffset: calc(440 - (440 * 87)/100);
                    stroke: #03a9f4;
                }
            }
        }
        .number{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999;
            font-family: sans-serif;
            background: #fff;
            border-radius: 50%;
            z-index: -1;
            margin: -2px 2px -2px 2px;
            h2{
                font-size: 37px;
                .symbol{
                    font-size: 22px;
                    margin-left: -10px;
                }
            }
        }
    }
}

.downloading_btn{
    opacity: 0;
    pointer-events: none;
}